{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<style>
    tbody tr:hover {
        cursor: pointer;
    }
</style>

<table class="table caption-top table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="text-center" style="width: 5%">번호</th>
            <th scope="col" class="text-center" style="width: 65%">제목</th>
            <th scope="col" class="text-center" style="width: 10%">글쓴이</th>
            <th scope="col" class="text-center" style="width: 10%">작성일</th>
            <th scope="col" class="text-center" style="width: 5%">조회</th>
            <th scope="col" class="text-center" style="width: 5%">추천</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr data-post-id="{{ post.post_id }}">
            <th scope="col" class="text-center">{{ post.post_id }}</th>
            <td class="text-start">{{ post.title }}
                {% if post.comment_count != 0 %}
                <span class="text-muted">[{{ post.comment_count }}]</span>
                {% endif %}
            </td>
            <td class="text-center">{{ post.nickname }}</td>
            <td class="text-center">{{ post.created_at }}</td>
            <td class="text-center">{{ post.view_count }}</td>
            <td class="text-center">{{ post.like_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const rows = document.querySelectorAll('tbody tr');
        rows.forEach(row => {
            row.addEventListener('click', function() {
                const postId = row.dataset.postId;
                window.location.href = `/board/${postId}`;
            });
        });
    });
</script>

{% endblock %}