{% extends "layout.html" %}

{% block title %}자유게시판{% endblock %}

{% block body %}

<style>
    #title:hover {
        cursor: pointer;
        background-color: lightgray;
    }
    #author:hover {
        cursor: pointer;
        background-color: lightgray;
    }
</style>

<div class="container">
    <h1 class="pb-2">자유게시판</h1>
</div>
<table class="table caption-top table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="text-center" style="width: 5%">번호</th>
            <th scope="col" class="text-center" style="width: 65%">제목</th>
            <th scope="col" class="text-center" style="width: 10%">글쓴이</th>
            <th scope="col" class="text-center" style="width: 10%">작성일</th>
            <th scope="col" class="text-center" style="width: 5%">조회</th>
            <th scope="col" class="text-center" style="width: 5%">추천</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <th scope="col" class="text-center">{{ post.post_id }}</th>
            <td id="title" class="text-start" data-post-id="{{ post.post_id }}">{{ post.title }}
                {% if post.comment_count != 0 %}
                <span class="text-muted">[{{ post.comment_count }}]</span>
                {% endif %}
            </td>
            <td id="author" class="text-center" data-author-id="{{ post.author_id }}">{{ post.nickname }}</td>
            <td class="text-center">{{ post.created_at }}</td>
            <td class="text-center">{{ post.view_count }}</td>
            <td class="text-center">{{ post.like_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    document.querySelectorAll('#title').forEach(row => {
        row.addEventListener('click', function() {
            const postId = row.dataset.postId;
            window.location.href = `/board/${postId}`;
        });
    });

    document.querySelectorAll('#author').forEach(row => {
        row.addEventListener('click', function() {
            const authorId = row.dataset.authorId;
            window.location.href = `/profile/${authorId}`;
        });
    });
</script>

{% endblock %}